body {
			font-family: Courier;
			background-image: url("http://orig07.deviantart.net/5765/f/2015/122/2/8/birdcage_long_free_by_paintedsunshine-d8rvvwe.png");
			background-color: #F78181;
			clear: both;
			}
		header {
			background-color: white;
			font-size: 30px;
			font-family: Purisa;
			clear: both;
			width: 100%;
			}
		nav{
			background-color: pink;
			font-family: Courier;
			clear: both;
		}
	
		footer{
			clear: both;
			bottom: 0px;
			}
		article{
			clear: both;
			}
		a{
			text-decoration: none;
			color: #424242;
			
			}
		a:hover {
			color: #e6005c;
			}
		.s {
			background-color: white;
  			float: left;
  			margin: 5px;
  			width: 48%;
			}
		#header
		
		table{
			width: 100;
		}

		h1{
			background-color: white;
			font-family: Courier;
			clear: both;
		}

		#para{
			/*code for gradient from: https://www.w3schools.com/css/css3_gradients.asp*/
			background: #ebe0eb;; /* For browsers that do not support gradients */
  			background: -webkit-linear-gradient(left top, #ebe0eb, white); /* For Safari 5.1 to 6.0 */
  			background: -o-linear-gradient(bottom right, #ebe0eb, white); /* For Opera 11.1 to 12.0 */
  			background: -moz-linear-gradient(bottom right, #ebe0eb, white); /* For Firefox 3.6 to 15 */
  			background: linear-gradient(to bottom right, #ebe0eb, white); /* Standard syntax */
			font-family: Courier;
			clear: both;
			font-size: 15px;
		}
	}

		